.my-flexbox {
    margin: 2px;
    display: flex;
    justify-content: space-around;
}

.my-flexbox .card {
    width: 25%;
    margin: 8px;
    padding: 10px;
}

.carousel {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    padding: 30px;
}

.card .card-body .card-title {
    font-family: "Times New Roman", Times, serif;
    font-style: bold;
}

.my-flexbox .card:hover {
    background-color: rgb(236, 181, 181);
    color: black;
    font-weight: 600;
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 12), 0 4px 8px rgba(0, 0, 0, 0.06);
    transition: 1s;
}

.my-flexbox .card :hover {
    color: rgb(185, 224, 241);
    font-weight: 600;
}

@media (max-width: 500px) {
    .my-flexbox {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

.btn btn-primary:hover {
    font-weight: 600px;
}
